# The public npm registry from where to fetch e.g. Grunt
registry= https://artifactory.MYCOMPANY.net/artifactory/api/npm/releases_npm_all/

# The SAP npm registry from where to fetch SAP specific Grunt modules
@sap:registry=https://npm.sap.com
